<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dante Memories!</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}">
    <link rel="icon" type="image/jpg" href="https://upload.wikimedia.org/wikipedia/commons/1/12/Google_Photos_icon_%282020%29.svg"/>
</head>
<body>
<h1>Remember your past {{date}}</h1> 
{% for year in years %}
<h2>Thats happend with you in {{year}}</h2> 
{% for images in photos[year] %}
<img src = "{{ url_for('static', filename=images)}}">
{% endfor %}
{% endfor %}
</body>
</html>